body{

  background-image: url('bilde7.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

@media only screen and (min-width: 800px){
  .col-tall-10 {width : 10%;}
  .col-tall-20 {width : 20%;}
  .col-tall-30 {width : 30%;}
  .col-tall-40 {width : 40%;}
  .col-tall-50 {width : 50%;}
  .col-tall-60 {width : 60%;}
  .col-tall-70 {width : 70%;}
  .col-tall-80 {width : 80%;}
  .col-tall-100 {width : 100%;}
}
@media only screen and (max-width: 799px){
  .col-small-10 {width : 10%;}
  .col-small-20 {width : 20%;}
  .col-small-30 {width : 30%;}
  .col-small-40 {width : 40%;}
  .col-small-50 {width : 50%;}
  .col-small-60 {width : 60%;}
  .col-small-70 {width : 70%;}
  .col-small-80 {width : 80%;}
  .col-small-100 {width : 100%;}
}

.menu {

text-align: center;
}

.menu > li{
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.5;
}

li > a {
  text-decoration: none;
  color: white;
}

.informasjon{
  font-family: courier;
  font-size: 20px;
  padding-top: 10px;
  text-align: center;
  color: white;
}

.photo_main{
  width: 20%;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 5px;

}

.informasjon_2{
  font-family: courier;
  font-size: 20px;
  padding-top: 40px;
  text-align: center;
  color: white;
}

.priser-tilbud{
  color: white;
  opacity: 0.7;
  text-align: center;
}

.info{
  color: white;
  opacity: 0.7;
  font-weight: bolder;
  text-align: center;
}

.prisTilbud{
  color: white;
  opacity: 0.7;
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
  text-align: center;
}

hr{
  opacity: 0.2;

}

@media screen and (max-width: 700px) {
  .photo_main{
    width: 70%;
  }

  li > a{
    font-size: 15px;
  }
}
